<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="author" content="tech skills">
  <meta name="description" content="The HTML5 tech skills">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="https://kit.fontawesome.com/a62084b413.js" crossorigin="anonymous"></script>
</head>
<body>
 <div class="holder">
  <h2>Nimble Tec Search</h2>  
  <br />
  <div class="form-row">
 <div class="form-group col-md-3">
     <div class="dropdown">
         <div id="myDropdown" class="dropdown-content show">
           <input type="text" autocomplete="off" placeholder="Search.." id="search-bar">
         </div>
      </div>
  </div>
  <div class="form-group col-md-9">
      <input required 
             type="text"
             name="textmessage" 
             class="form-control" 
             id="textmessage" 
             aria-describedby="textmessage" 
             placeholder="Enter Text Message with link">
    </div>
  </div>
  <div class="table-responsive-md">
  <table id="myTable" class="table">
    <thead>
      <th><input id="toggleCheckboxes" type="checkbox" /></th>
      <th>Name</th>
      <th>Primary</th>
      <th>Secondary</th>
      <th>Hobbyist</th>
      <th>About</th>
      <th>Distance</th>
      <th>Number</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class="pagination">
  </div>
  <button id="submitform" class="btn btn-primary" type="submit">Send Message</button>
  </div>
</div>
<div id="dialog" title="Send text messages"></div>
<div id="seeText" title="About applicant"></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <script>
        $("#seeText").dialog({
              autoOpen: false
        });
        var seefull = function(text){
          $("#seeText").html(text);
          $("#seeText").dialog("open");
        }
      </script>
</body>
</html>