<!DOCTYPE html><html lang="en"><head><title>User Form</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"><meta name="author" content="tech skills"><meta name="description" content="The HTML5 tech skills"><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"><link rel="stylesheet" type="text/css" href="css/main.css"></head><body><!--action="/submit-applicant" method="post"--><div class="holder"><h1>NIMBLE TEC</h1><div class="small">fill out the form and receive emails and text messages for jobs that match your skills</div><br /><form><div class="form-group"><label for="first-name">Name</label><input required 
                       type="text" 
                       value="" 
                       name="firstName" 
                       class="form-control" 
                       id="first-name" 
                       aria-describedby="firstName" 
                       placeholder="Enter Name"></div><div class="form-group"><label for="phone">Phone Number</label><input required type="tel"
                       pattern="[0-9]{3}[0-9]{3}[0-9]{4}" 
                       name="tel" 
                       class="form-control" 
                       id="phone" 
                       aria-describedby="Phonenumber" 
                       placeholder="Enter Phone Number"><small>format: 234567890 (no country code example: +1)</small></div><div class="form-row"><div class="form-group col-md-4"><label for="zip">Zip Code</label><input required type="zipcode"
                       pattern="[0-9]{5}" 
                       name="zip" 
                       class="form-control" 
                       id="zip" 
                       aria-describedby="zipcode" 
                       placeholder="Enter Zipcode"></div><div class="form-group col-md-4"><label for="distance">Distance from</label><select required id="distance" name="distance" class="form-control"><option value="" selected>Choose...</option><option value="1">1 mile</option></select></div></div><div class="form-group"><label for="about">Cover Letter (optional)</label><textarea maxlength="500"
                    class="form-control" 
                    id="about"
                    name="about"
                    placeholder="Put description here"
                    aria-label="description"></textarea></div><div class="form-row"><div class="form-group col-md-4"><label for="inputSkill">Primary</label><select required id="inputSkill" name="inputSkill" class="form-control"><option value="" selected>Choose...</option><option value="javascript">Javascript</option></select></div><div class="form-group col-md-4"><label for="inputSkill1">Secondary</label><select id="inputSkill1" name="inputSkill1" class="form-control"><option value="" selected>Choose...</option><option value="PHP">PHP</option></select></div><div class="form-group col-md-4"><label for="inputSkill2">Hobbyist or a bit better</label><select id="inputSkill2" name="inputSkill2" class="form-control"><option value="" selected>Choose...</option><option value="DB Admin">DB Admin</option></select></div></div><button id="submitform" class="btn btn-primary" type="submit">Submit</button></form><div id="dialog" title="Submission Information"></div></div><script>

</script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script><script>
      $(function() {
             $("#dialog").dialog({
               autoOpen: false
            });
         
            $("#submitform").click(function() {
                var url = "/submit-applicant";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("form").serialize(),
                    success: function(data)
                    {
                      $("#dialog").html(data);
                      $("#dialog").dialog("open");
                    }
                });
                
               return false;
          });
      });
    </script></body></html>